
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="~/Content/bootstrap.css" rel="stylesheet">
    <link type="text/css" href="~/Content/stylelogin.css" rel="stylesheet" />
</head>
<body>
    <div id="table">
        <div id="cell">
            <div id="contenido">
                <img src="~/Image/TONAlogin.png">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Usuario</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese Usuario...">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input type="password" name="password " class="form-control" id="exampleInputPassword1" placeholder="Ingrese Contraseña...">
                    </div>
                    <button type="button" class="btn btn-danger">Iniciar Sesión</button>

                </form>
                <!--<button type="button" class="btn btn-info">Crear Usuario</button>-->
            </div>
        </div>
    </div>

</body>

</html>