
#lookbook {
    max-width: 100%;
    width: 70%;
    margin-left: 14%;
    margin-right: 0 auto;
    height: auto;
    display: block;
    border-bottom: 2px solid;
    border-bottom-color: black;
}
#prox:hover{
    opacity: 0.6;
}
#prox {
    max-width: 100%;
    margin-top: 50px;
    height: auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
}


    