#txtfooter { /*Texto footer sta...*/
    color: white;
}

.navbar {
    padding: 10px;
}

#nav { /* navbar superior*/
    margin: 0%;
    border-radius: 0px;
    padding: 10px;
}

#navInf {
    padding: 10px;
}

#img { /*img maniqui TONA*/
    width: 14px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 144px;
    top: 23px;
}

#TONA { /* style titulo TONA*/
    color: #FFF;
    font-family: Ebrima,sans-serif;
    font-size: 3em;
}

#btn { /* Padding btn producto y contacto*/
    padding-left: 10px;
}

#txtbtn { /*Style botones producto y contacto*/
    color: #FFF;
    font-size: 18px;
    font-family: Ebrima,sans-serif;
}

.footer {
    position: absolute;
    bottom: -6%;
    width: 100%
}

html {
    position: absolute;
    min-height: 95%;
    background-color: black;
}

#jmb {
    margin: 0%;
    padding: 0%;
}

.carousel-indicators {
    top: 85%;
}
body{
    background-color: black;
}
@media only screen and (min-width: 330px) {
    .collapse {
        display: block;
    }

    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-nav.navbar-left {
       float: left;
       margin: 0;
    }

    .navbar-nav.navbar-right {
       float: right;
       margin: auto;
       wdith: 30px;
    }
    .navbar-nav>li {
        float: left;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 330px) {
     .collapse {
        display: none;
     }

     .navbar-header {
        display: block;
     }
}
.dropdown-toggle {
    width: 100px;
    padding: auto;
}
    