#list1 {
    margin-top: 20px;
    font-family: 'Coco Gothic';
}

#imgMin {
    width: 300px;
    margin-left: 2%;
    margin-top: 3%;
}
.btn1 {
    background-color: coral;
    border: none;
    border-radius: 3px;
    padding: 1%;
    color: white;
    margin-left: 2%;
}

.btn1:focus {
    outline: none;
}

.btn2 {
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 1%;
}

.btn2:focus {
        outline: none;
    }
#row {
    padding-left: 2%;
}

#list2 {
    margin-bottom: 20%;
}