.btn-ttc {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: black;
}
.btn-ttc:hover {
    color: white;
    outline: none;
}

#imgMin {
    width: 200px;
    height: 136px;
}
#row {
	margin: 0%;
	padding-top: 5%;
}
#Prod {
    margin-top: 40px;
    font-family: 'Coco Gothic';
}