#txtfooter { /*Texto footer sta... NO REALIZA NINGUNA FUNCION*/
    color: white;
}

.navbar { /*padding navbars*/
    padding: 10px;
}

#nav { /* navbar superior*/
    margin: 0%;
    border-radius: 0px;
    padding: 10px;
}

#img { /*img maniqui TONA*/
    width: 14px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 144px;
    top: 23px;
}

#TONA { /* style titulo TONA*/
    color: #FFF;
    font-family: Ebrima,sans-serif;
    font-size: 3em;
}

/*#btn { /* Padding btn producto y contacto
    padding-left: 10px;
}*/

.txtbtn { /*Style botones producto y contacto*/
    color: #FFF;
    font-size: 16px;
    font-family: Ebrima,sans-serif;
}

html {
    position: absolute;
    min-height: 95%;
    background-color: black;
}

#jmb {
    margin: 0%;
    padding: 0%;
    padding-top: 0px;
}

.carousel-indicators {
    top: 85%;
}
/*body{
    background-color: black;
}*/

#btnMenu{
    position: absolute;
    right: 9px;
    padding: 9px;
}
a:hover{
    text-decoration: none;
    
}
a{
    color: white;
}
#aMenu {
    color: white;
    padding-top: 15px;
    padding-left: 15px;
}
