@{
    Layout = "~/Views/Shared/_LayoutTonaWhite.cshtml";
}
<!--
<center><img id="lookbook" src="~/Image/lookbook_logo.png" /></center>
<div id="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Image/lights.jpg" target="_blank">
                    <img src="~/Image/lights.jpg" alt="Lights">
                    <div class="caption">
                        <p>Campaña Otoño-Invierno</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Image/nature.jpg" target="_blank">
                    <img src="~/Image/nature.jpg" alt="nature">
                    <div class="caption">
                        <p>Campaña Primavera-Verano</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
-->
<center><img id="prox" src="~/Image/prox.png" width="611" height="414"/></center>